html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

p,
pre {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
}
