html,
body {
  padding: 0;
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

p,
pre,
i {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

b {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 14px;
}

h3 {
  font-family: "Lora", serif;
  font-weight: 400;
}

.header {
  height: 0.4em;
  min-height: 3px;
  background: #bd9b4c;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #bd9b4c 25%,
    #b38720 25%,
    #b38720 50%,
    #bd9b4c 50%,
    #bd9b4c 75%,
    #b38720 75%,
    #b38720 100%
  );
  background-size: 5px 5px;
}

hr {
  width: 100%;
  margin-bottom: 1rem;
  min-height: 3px;
  height: 0.25em;
  border: 0;
  background: linear-gradient(
    to right,
    rgba(154, 21, 21, 0.75),
    rgba(154, 21, 21, 0)
  );
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  width: 80vw;
  gap: 20px;
}
